<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log</title>
        <link rel="stylesheet" href='static/style.css'>
    </head>
    <body>
        <div class = 'simple-container'>
            <h1>Log del sistema</h1>
            {% for line in log %}
                <li>{{line}}</li>
            {% endfor %}
            <br>
            <a href="{{ url_for('showMVP') }}"><button>Decreta MVP e LVP</button></a>
        </div>
    </body>
</html>