<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href='static/style.css'>
    </head>
    <body>
        <div class = 'simple-container'>
            <h1>Accedi al sistema</h1>
            <form action="/evaluatelogin" method="post">
                <label for="password">Password:</label> <br>
                <input type="password" name="password" placeholder="Inserisci la password">
                <br><br>
                <button type="submit">Invia</button>
            </form>
        </div>
    </body>
</html>